@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Slab|Merriweather|Oswald|Roboto+Slab&display=swap');

/* COLOR PALLET & VARIABLES*/
$offwhite: #EEE8D6;
$darkblue: #022933;
$yellow: #FFBA00;
$blue: #0076A3;
$green: #548C27;
$orange: #F39856;
$red: #D14348;
$purple: #6D73C2;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;


/* FONT VARIABLES*/
$font-main: 'Merriweather',
'Helvetica',
sans-serif;
$font-highlight: 'Bree Serif',
'Helvetica',
sans-serif;

/* IMAGE VARIABLES */
$url-water: '../images/water.jpg';
$url-bridge: '../images/bridge.jpg';

/* BUTTON COLOR VARIABLES*/
$color-btn-text: $color-backgrounds;
$color-btn-default: $color-main;
$color-btn-hot: $red;
$color-btn-cool: $blue;