.media {
    margin: 0;
    padding: 0;
    list-style: none;

    .item {
        padding-bottom: 10px;
        padding-left: 10px;
        border-top: 1px dotted $color-item-border;
        padding-top: 10px;

        //the & is a special selector that can be used to reference the parent of an element
        &:hover {
            background: $yellow;
        }

        &:last-of-type {
            border-bottom: 1px dotted $color-item-border;
        }

        @include clearfix;
    }

    .head {
        margin: 0;
        padding: 0;
        color: $color-media-head;
        font-size: 2rem;

        //this helps identify a contextual class that's sitting inside any other id
        #typography & {
            color: $red;
        }
    }

    p {
        margin: 0;
        font-size: 1.5rem;
    }

    img {
        float: left;
        margin-right: 10px;
    }

}